<%- include("./partials/headercontact") -%>

<h1>Contact</h1>
<p><%=contactContent %></p>

<main>
    <section class="page-sub-content">
        <iframe
            class="border-rounded"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15092.541721208994!2d72.819308!3d18.9696254!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9879ebcd3ef31652!2sMumbai%20Central!5e0!3m2!1sen!2sin!4v1642502337160!5m2!1sen!2sin"
            width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
</main>

<%- include("./partials/footer") -%>
